header{
	background-color: #A2006E;
	color: #FFBEEF;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin: 0;
}

h3 {
    text-align: left;
    max-width: 80%;
    margin-inline: auto;
}

.sheetEmbed{
	width: 800px;
	height: 44em;
}

.top {
	text-align: center;
}

blockquote {
    border-left: 3px solid #FFBEEF;
    padding-left: 0.5em;
}

.nextTalk{
    max-width: 80%;
    margin-inline: auto;
    text-align: left;
}

.foot {
	max-width: 80%;
	margin-inline: auto;
	/* text-align: left;*/
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 840px){
	iframe.sheetEmbed {
		width: 95%;
	}
}

a:link {
	color: #A2006E;
	text-decoration: none;
}
a:visited {
	color: #5D0096;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
